<form class="form-horizontal" (submit)="save()">
  <fieldset>
  
  <!-- Form Name -->
  <legend>Usuários</legend>
   
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="Nome">Nome</label>  
    <div class="col-md-4">
    <input id="Nome" name="Nome" type="text" placeholder="" [(ngModel)]="user.Nome" class="form-control input-md" required="">
      
    </div>
  </div>
  
  <!-- Select Basic -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="TipoConta">Tipo de Conta</label>
    <div class="col-md-4">
      <select id="TipoConta" name="TipoConta" [(ngModel)]="user.TipoConta" class="form-control" required>
        <option value="1">Aluno</option>
        <option value="2">Professor</option>
        <option value="3">Funcionário</option>
      </select>
    </div>
  </div>

  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="Salvar"></label>
    <div class="col-md-4">
      <button id="Salvar" name="Salvar" type="submit" class="btn btn-success">Salvar</button>
    </div>
  </div>
  
  </fieldset>
</form>
  
<hr/>

<div *ngFor="let user of userList">  
    <div class="user" style="padding: 10px;">
      <div>Nome: {{user.Nome}} </div>
      <span>Tipo de Conta: {{user.TipoConta == 1 ? "Aluno" : user.TipoConta == 2 ? "Professor" : "Funcionário" }}</span>
      <button class="btn btn-danger pull-right" type="button" (click)="delete(user)">X</button>
      <hr/>    
    </div>
  </div>