<form class="form-horizontal" (submit)="save()">
  <fieldset>
    
    <!-- Form Name -->
    <legend>Empréstimos</legend>
    
     <!-- Select Multiple -->
     <div class="form-group">
        <label class="col-md-4 control-label" for="Usuario">Usuário</label>
        <div class="col-md-4">
  
          <select id="Usuario" name="Usuario" class="form-control" [(ngModel)]="rent.Usuario" >
            <option *ngFor="let user of userList" [value]="user">
              {{user.Nome}}
            </option>
          </select>
        </div>
      </div>
    
    <!-- Select Multiple -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="Exemplares">Exemplares</label>
      <div class="col-md-4">
          <select id="Exemplares" name="Exemplares" class="form-control" [(ngModel)]="rent.Exemplar" multiple="multiple">
              <option *ngFor="let exemplar of exemplarList" [value]="exemplar">
                {{exemplar.Livro.Nome + " - ISBN: " + exemplar.ISBN}}
              </option>
            </select>
      </div>
    </div>
    
    <div class="form-group">
        <label class="col-md-4 control-label" for="Data">Data do Empréstimo</label>
        <div class="col-md-4">
            <my-date-picker name="Data" [options]="myDatePickerOptions" [(ngModel)]="rent.DataEmprestimo" required></my-date-picker>
        </div>
      </div>
  
    

    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="Salvar"></label>
      <div class="col-md-4">
        <button id="Salvar" name="Salvar" type="submit" class="btn btn-success">Salvar</button>
      </div>
    </div>

  </fieldset>
</form>

<hr/>

<div *ngFor="let rent of rentList">  
  <div class="rent" style="padding: 10px;">
    <div>Nome: {{rent}} </div>
    <div>Livro: {{rent}} </div>
    <div>Data Empréstimo: {{rent}} </div>
    <div>Data Devolução: {{rent}} </div>
    <button class="btn btn-danger pull-right" type="button" (click)="delete(rent)">X</button>
    <hr/>    
  </div>
</div>