<div id="wrapper" class="toggled">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <div>
                    <img src="https://image.flaticon.com/icons/svg/772/772914.svg" style="width: 25%; display:block; margin:auto; padding-top: 4px;">
                </div>
            </li>

            <li routerLinkActive="active">
                    <a [routerLink]="['emprestimo']">Empréstimo</a>
            </li>

            <li routerLinkActive="active">
                <a [routerLink]="['livros']">Livros</a>
            </li>

            <li routerLinkActive="active">
                <a [routerLink]="['exemplares']">Exemplares</a>
            </li>

            <li routerLinkActive="active">
                <a [routerLink]="['autores']">Autores</a>
            </li>

            <li routerLinkActive="active">
                <a [routerLink]="['editoras']">Editoras</a>
            </li>

            <li routerLinkActive="active">
                <a [routerLink]="['areas-conhecimento']">Áreas Conhecimento</a>
            </li>          

            <li routerLinkActive="active">
                <a [routerLink]="['usuarios']">Usuário</a>
            </li>              
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            
           
            <router-outlet></router-outlet>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
