<form class="form-horizontal" (ngSubmit)="save()">
  <fieldset>
  
  <!-- Form Name -->
  <legend>Exemplares</legend>
  
  
  
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="ISBN">ISBN</label>  
    <div class="col-md-4">
    <input id="ISBN" name="ISBN" type="text" placeholder="" [(ngModel)]="exemplar.ISBN" class="form-control input-md" required="">
      
    </div>
  </div>
  
  <div class="form-group">
      <label class="col-md-4 control-label" for="Livros">Livros</label>
      <div class="col-md-4">

        <select id="Livros" name="Livros" class="form-control" [(ngModel)]="exemplar.Livro">
          <option *ngFor="let book of bookList" [value]="book">
            {{book.Nome}}
          </option>
        </select>
      </div>
  </div>

  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="Salvar"></label>
    <div class="col-md-4">
      <button id="Salvar" name="Salvar" type="submit" class="btn btn-success">Salvar</button>
    </div>
  </div>
  
  </fieldset>
</form>

<hr/>

<div *ngFor="let exemplar of exemplarList">  
  <div class="exemplar" style="padding: 10px;">
    <div>ISBN: {{exemplar.ISBN}} </div>
    <div>Livro: {{exemplar.Livro.Nome}} </div>
    <button class="btn btn-danger pull-right" type="button" (click)="delete(exemplar)">X</button>
    <hr/>    
  </div>
</div>
    
  