<form class="form-horizontal" (ngSubmit)="save()">
  <fieldset>
  
  <!-- Form Name -->
  <legend>Exemplares</legend>
  
  
  
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="ISBN">ISBN</label>  
    <div class="col-md-4">
    <input id="ISBN" name="ISBN" type="text" placeholder="" [(ngModel)]="exemplar.ISBN" class="form-control input-md" required="">
      
    </div>
  </div>
  
  <div class="form-group">
      <label class="col-md-4 control-label" for="Livros">Livros</label>
      <div class="col-md-4">

        <select id="Livros" name="Livros" class="form-control" (ngModelChange)="changeBook($event)" [(ngModel)]="exemplar.Livro">
          <option *ngFor="let book of bookList" [ngValue]="book">
            {{book.Nome}}
          </option>
        </select>
      </div>
  </div>

  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="Salvar"></label>
    <div class="col-md-4">
      <button id="Salvar" name="Salvar" type="submit" class="btn btn-success">Salvar</button>
    </div>
  </div>
  
  </fieldset>
</form>

<hr/>

<div class="col-md-12">
  <div class="row" *ngFor="let exemplar of exemplarList" style="border-bottom: 1px solid rgba(0,0,0,.1); padding: 10px;">
    <div class="col-md-8">
      <div class="exemplar" >
        <div><strong>ISBN:</strong> {{exemplar.ISBN}}</div>
        <div><strong>Livro:</strong> {{exemplar.Livro.Nome}}</div>
      </div>  
    </div>
    <div class="col-md-4">
      <button class="btn btn-danger pull-right" type="button" (click)="delete(exemplar)">X</button>
    </div>
  </div>
</div>
    
  